@model System.Data.DataTable
@using System.Data

@{
    ViewBag.Title = "Good List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2 class="text-center mt-5">Good Donations List</h2>
    <div class="mb-4">
        <a href="/Home/GoodDonations" class="btn btn-success">Add to Donation</a>
    </div>
    <div class="table-responsive mt-4">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Emails</th>
                    <th scope="col">DonatorName</th>
                    <th scope="col">Date</th>
                    <th scope="col">Number Of Items</th>
                    <th scope="col">Category</th>
                    <th scope="col">Description</th>
                </tr>
            </thead>
            <tbody>
                @foreach (DataRow row in Model.Rows)
                {
                    <tr>
                        <td>@row["Email"]</td>
                        <td>@row["DonarName"]</td>
                        <td>@row["Date"]</td>
                        <td>@row["NumItems"]</td>
                        <td>@row["Category"]</td>
                        <td>@row["Description"]</td>
                        <td>
                            <a href="@Url.Action("EditGoods", new { id = row["GoodId"] })" class="btn btn-primary btn-sm">Edit</a>
                            <a href="@Url.Action("GoodDeatils", new { id = row["GoodId"] })" class="btn btn-info btn-sm">Details</a>
                            <a href="@Url.Action("DeletGoods", new { id = row["GoodId"] })" class="btn btn-danger btn-sm">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
