@{
    ViewBag.Title = "Index";
}

@model YourNamespace.DisasterReliefModel

<!DOCTYPE html>
<html>
<head>
    <title>Disaster Relief Information</title>
</head>
<body>
    <h1>Disaster Relief Information</h1>
    <h2>Total Monetary Donations Received: @Model.TotalMonetaryDonations</h2>
    <h2>Total Number of Goods Received: @Model.TotalGoodsReceived</h2>

    <h3>Currently Active Disasters:</h3>
    <ul>
        @foreach(var disaster in Model.ActiveDisasters)
        {
            <li>
                <strong>@disaster.Name</strong>
                <p>Money Allocated: @disaster.MoneyAllocated</p>
                <p>Goods Allocated: @disaster.GoodsAllocated</p>
            </li>
        }
    </ul>
</body>
</html>