@model Part_2.Models.PurchaseGood

@{
    ViewBag.Title = "PurchaseGoods";
}

<h2>Purchase Goods</h2>
<h3 style="color: orangered">Available Money: R </h3>
<style>
    body {
        background-color: purple;
    }

    .form-horizontal {
        background-color: orange;
        padding: 20px;
        margin: 20px;
        border-radius: 10px;
    }
</style>
</head>
<body>
    <!-- Your existing HTML code goes here -->
</body>
</html>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.DateOfPurchase, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateOfPurchase, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DateOfPurchase, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AmountOfPurchase, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AmountOfPurchase, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AmountOfPurchase, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NumItems, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumItems, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NumItems, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DisasterId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @if (ViewBag.DisasterList != null)
                {
                    @Html.DropDownListFor(model => model.DisasterId, (SelectList)ViewBag.DisasterList, new { @class = "form-control" })
                }
                @Html.ValidationMessageFor(model => model.DisasterId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GoodId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @if (ViewBag.GoodsList != null)
                {
                    @Html.DropDownListFor(model => model.GoodId, (SelectList)ViewBag.GoodsList, new { @class = "form-control" })
                }
                @Html.ValidationMessageFor(model => model.GoodId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}